<div class="container">
	<form #formData="ngForm" (ngSubmit)="updateUser(formData)">
  <div class="form-group">
    <label for="email">Name:</label>
    <input type="text" class="form-control" required id="name" name="name" ngModel [(ngModel)]="user.name">
  </div>
  <div class="form-group">
    <label for="pwd">Email:</label>
    <input type="email" class="form-control" required id="email" name="email" ngModel [(ngModel)]="user.email">
  </div>
 <div class="form-group">
    <label for="pwd">Mobile:</label>
    <input type="text" class="form-control" required id="mobile" name="mobile" ngModel [(ngModel)]="user.mobile">
     <input type="hidden" class="form-control"  id="id" name="id" ngModel [(ngModel)]="user._id">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  <h6 *ngIf="isAdded">{{confirmString}}</h6>
</form>
</div>
